<div class="col-xs-4">
    <nav>
	    <ul class="tree">
	        <tree-node data-ng-repeat="category in cc.categories" data-node="category"></tree-node>
	    </ul>
	</nav>
</div>

<div classes="col-xs-8">
    <div ui-view class="row"></div>
</div>