<li data-ng-class="{active: tnc.node.isSelected}">
    <!-- {{tnc.getPath()}} -->
    <a data-ui-sref="categories.detail({path: tnc.node.Id})" data-ng-click="tnc.openNode(tnc.node, $event)">
        <i class="indicator glyphicon glyphicon-{{tnc.getIconClass()}}"></i>
        {{tnc.node.DisplayName | nameFilter}}
    </a>
</li>